html {
  padding: env(safe-area-inset);
}

html,
body {
  padding-top: 30px;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.text-nuno {
  color: #1ebba3
}

button:focus,
a:focus {
  outline: 0;
  box-shadow: none;
}

button,
a,
a.btn {
  transition: all .6s ease;
  border: none !important;
}